ion-header {
  ion-toolbar {
    ion-title {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

ion-content {
  ion-list {
    ion-item {
      ion-label {
        position: floating;
      }

      ion-input {
        margin-top: 5px;
      }
    }

    ion-button {
      margin-top: 20px;
    }
  }
}
ion-header {
  ion-toolbar {
    ion-title {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

ion-content {
  ion-list {
    ion-item {
      ion-label {
        position: floating;
      }

      ion-input {
        margin-top: 5px;
      }
    }

    ion-button {
      margin-top: 20px;
    }
  }
}
